.ibg {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.visually-hidden {
    @include visually-hidden;
}

.hidden-mobile {
    @include mobile {
        display: none;
    }
}

.visible-mobile {
    @include mobile-above {
        display: none;
    }
}

a,
button,
input,
textarea,
svg * {
    transition: $transition;
}