.grid {
    --gridColumns: 1;

    display: grid;
    grid-template-columns: repeat(var(--gridColumns), 1fr);

    @for $i from 2 through 12 {
        &_#{$i} {
            --gridColumns: #{$i};
        }
    }
}