:root {
    --container-width: 1200px;
    --container-padding-x: 10px;
}

$font-base: "Inter", sans-serif;

$color-light: #fff;
$color-bg: #06f;
$color-main: #151515;
$grey: #e8e8e8;

$transition: 0.2s;